# ===================
# Node.js Dependencies & Package Managers
# ===================
node_modules/
package-lock.json
yarn.lock
*.tgz

# ===================
# Logs
# ===================
*.log
*.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
frontend/src/logs/
backend/node_modules/
backend/src/logs/
frontend/logs/
backend/src/logs/

# ===================
# Environment Files
# ===================
*.env
backend/.env
frontend/.env

# ===================
# Build Output
# ===================
dist/
build/
dist-ssr/
temp/
tmp/
coverage/

# ===================
# OS Specific Files
# ===================
.DS_Store
Thumbs.db

# ===================
# IDE/Editor Settings
# ===================
.vscode/
!.vscode/extensions.json
.idea/
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/src/logs/RequestLogger.txt
